.search {
  padding: 5% 10% 10px 5%;
  height: 100%;
  position: relative;
  &__form {
    &-ctrl {
      height: 56px;
      display: -webkit-box;
      display: flex;
      margin-bottom: 10px;
    }
  }
  &__list {
    &-wrapper {
      max-height: 60%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
  &__result {
    &-ctrl {
      position: absolute;
      width: 80%;
      left: 5%;
      right: 10%;
      bottom: 10%;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  }
}
