.history {
  min-height: 200px;
  width: 50%;
  &__top {
  }
  &__tab {
    &-btn {
      display: inline-block;
      margin-left: 10px;
      &.active {
        font-weight: bold;
      }
    }
    &-wrapper {
      padding-top: 10px;
    }
  }
}
