// xs, extra-small: 0px
// sm, small: 600px
// md, medium: 960px
// lg, large: 1280px
// xl, extra-large: 1920px
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

a:visited,
a:link {
  color: inherit;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
}

.img {
  width: 100%;
}
